<!DOCTYPE>
<html>
    <head>
        <title>Add Student</title>   
    </head>
    <body>
        <h1>Add New Student Data</h1>
        <form action="/add_Student" method="post">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required><br><br>
            <label for="age">Age:</label>
            <input type="text" id="age" name="age" required><br><br>
            <label for="grade">Grade:</label>
            <input type="text" id="grade" name="grade" required><br><br>
            <input type="submit" value="Add Student">
        </form> 
    </body>
</html>